spring:
  application:
    name: Document Management System

  datasource:
    url: ${MYSQL_URL}
    username: ${USERNAME}
    password: ${PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  data:
    mongodb:
      uri: mongodb+srv://root:${PASSWORD}@cluster0.qxywym0.mongodb.net/dms=Cluster0


server:
  port: 8080


jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000